{% extends "base.html" %}

{% block title %}.stl Submission Portal{% endblock %}

{% block body %}




        <div class="text-center">
            <br><br>
            <img src="/static/media/jlrlogo.png" height="110" style="margin: 50px"/>
            <form action="/upload" method="post" enctype="multipart/form-data">

                <div class="form-group-sm">
               <label for="part_number">Part Number:</label>
               <select name=part_number name="part_number" id="part_number">
                    {% for parts in part_number %}
                    <option value="{{program}}" SELECTED>{{ parts }} </option>
                    {% endfor %}
                    <option value="" disabled selected hidden>Select a Part Number</option>
               </select>
                    </div>

                <div class="form-group-sm">
                <label for="build_phase">Build Phase:</label>
               <select name=build_phase name="part_number" id="build_phase">
                    {% for phase in build_phases %}
                    <option value="{{ phase }}" SELECTED>{{ phase }} </option>
                    {% endfor %}
                    <option value="" disabled selected hidden>Select a Build Phase</option>
               </select>
                </div>

                <div class="form-group-sm">
                <label for="supplier">Supplier:</label>
              <select name=supplier name="part_number" id="supplier">
                    {% for supplier in suppliers %}
                    <option value="{{supplier}}" SELECTED>{{ supplier }} </option>
                    {% endfor %}
                    <option value="" disabled selected hidden>Select a Supplier</option>
               </select>
                </div>
                <br>
                <div class="form-group">
                <input type="file" style="padding-bottom: 5px; padding-left: 100px" name="file" id="file">
                </div>

                <button type="submit" name="submit" class="btn btn-primary">Upload</button>
                </form>
            </form>
        </div>


{% endblock %}